@using QuizForms.Web.Models.Account;
@model ManageAccountsViewModel;
@{
    ViewData["Title"] = "Accounts";
}

@{
    Func<ActionButton, IHtmlContent> renderAction = @<form action="/admin/accounts/update" method="post" class="submit-action-form hidden">
        <input type="hidden" name="action" value="@item.Action" />
        <input type="hidden" name="id" value="@item.Id" />
        <input type="submit" value="@item.Label" class="action">
        @Html.AntiForgeryToken()
    </form>;
}

<h1>Accounts beheren</h1>
<h2>Accounts</h2>
<table>
    <tr>
        <th>Gebruikersnaam</th>
        <th>Acties</th>
    </tr>
    @foreach (string username in Model.Usernames)
    {
        <tr>
            <td>@username</td>
            <td>
                @renderAction(new ActionButton("delete", username, "(verwijder)"))
                <a class="action" href="/admin/accounts/update-password/@username">(wachtwoord wijzigen)</a>
            </td>
        </tr>
    }
</table>

<a class="action" href="/admin/accounts/create">(account aanmaken)</a>