@using QuizForms.Data.Models.Scoreboard;
@using QuizForms.Web.Models.ManageScoreboard;
@model EditScoreboardModel
@{
    ViewData["Title"] = Model.Scoreboard.Title;
    int rank = 1;
}

<h1>@Model.Scoreboard.Title</h1>



<h2>Scorebord</h2>
<table>
    <tr>
        <th>Rang</th>
        <th>Team</th>
        @foreach (ScoreboardRound round in Model.Scoreboard.Rounds)
        {
            @if (round.Title.Length > 15)
            {
                <th>@(round.Title.Substring(0, 12) + "...")</th>
            }
            else
            {
                <th>@round.Title</th>
            }
        }
        <th>Totaal</th>
    </tr>
    @foreach (ScoreboardTeam row in Model.Scoreboard.Rows)
    {
    <tr>
        <td>
            @(rank++)
        </td>
        <td>
            @row.Team
        </td>
        @{
            int total = 0;
        }
        @foreach (ScoreboardRound round in Model.Scoreboard.Rounds)
        {
            string value = "-";
            if (row.Scores.ContainsKey(round.Id))
            {
                int score = row.Scores[round.Id];
                total += score;
                value = score.ToString();

            }
            <td>@value</td>
        }
        <td>@total</td>
    </tr>
    }
</table>

<h2>Overig</h2>
<ul>
    <li>
        <a href="/admin/scoreboard/view/@Model.Scoreboard.Id">Scorebord Weergeven <span>➡️</span></a>        
    </li>
    <li>
        <a href="/admin/scoreboard/delete/@Model.Scoreboard.Id">Scorebord Verwijderen <span>❌</span></a>
    </li>
</ul>

<h2>Importeren uit...</h2>
<ul>
    @foreach (FormInfo form in Model.Forms)
    {
        <li>
            <a href="/admin/scoreboard/import/@Model.Scoreboard.Id/@form.Id">@form.Title<span>📂</span></a>
        </li>
    }
</ul>