@model Form
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <p>@Model.Description</p>
}

<h2>Vragen</h2>

@{ 
    // Render text questions
    Func<TextQuestion, IHtmlContent> renderTextQuestion = @<input name="@item.Id" type="text" placeholder="@item.Placeholder">;

    // Render multiple-choice questions
    Func<MultipleChoiceQuestion, IHtmlContent> renderMultipleChoiceQuestion = @<div name="@item.Id">
        
        @* Update from JS *@
        <input name="@item.Id" type="hidden" value="" />

        @foreach (string option in item.Options)
        {             
            <div class="option" data-value="@option">
                <div class="box"></div>
                <div class="label">Option: @option</div>
            </div>
        }
    </div>;
}

<form asp-controller="QuizForm" asp-action="Index" method="post" id="main" class="list-form quiz-form">
    <div class="question question-text">
        <h4>Teamnaam</h4>
        <input name="Teamname" type="text" placeholder="Teamnaam">
    </div>

    @foreach (Question question in Model.Questions)
    {
        <div class="question question-@question.Type">
            <h4>@question.Title</h4>

            @if (question is MultipleChoiceQuestion mcQuestion)
            {
                @renderMultipleChoiceQuestion(mcQuestion);
            }
            else if (question is TextQuestion textQuestion)
            {
                @renderTextQuestion(textQuestion);
            }

        </div>
    }
    <div class="submit">Antwoorden versturen</div>
</form>

@section Scripts
{
    <script src="~/js/forms.js"></script>
}