<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/css/bundle.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/admin">
                <img src="~/img/logo.svg" />
            </a>
        }
        else
        {
            <a href="/">
                <img src="~/img/logo.svg" />
            </a>
        }
    </header>

    @if (ViewData.ContainsKey("RemoveContainer") && ViewData["RemoveContainer"] is bool bRemove && bRemove)
    {
        @RenderBody()
    }
    else
    {
        <div class="container">
            @RenderBody()
        </div>
    }

    @RenderSection("OuterBody", required: false)
    
    @RenderSection("Scripts", required: false)
</body>
</html>
